<h2 class="comments-heading">Comments Details</h2>
<div class="comments-container">
    <div *ngFor="let comment of comments" class="comment">
        <p class="comment-content">Comment Id: {{comment.id}}</p>
        <p class="comment-content">Comment: {{comment.content}}</p>
        <p class="comment-metadata">Commented Time: {{comment.commentedTime}}</p>
        <p class="comment-metadata">User ID of the user who commented: {{comment.userId}}</p>
    </div>
    <div class="comment-input-section">
        <input type="text" [(ngModel)]="content" class="comment-input" placeholder="Enter your comment">
        <button (click)="addcomment(postId, content)" class="add-comment-button">Add Comment</button>
    </div>
</div>
