<div class="container">

    <h2>Products</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Section</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of products">

                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.section }}</td>

            </tr>
        </tbody>
    </table>

 

    <div class="input-container">

        <input type="text" [(ngModel)]="productId" placeholder="Enter Product id">
        <button (click)="onButtonClick()">Submit</button>

    </div>

</div>